[2016-06-28 17:08] thisisdano opened #1 "Improve display of Compliance Viewer results"
In order to help comprehension by a broad range of users, the organization and display of Compliance Viewer results should be clearer.

- [ ] results should be preceded by a compact overview
- [ ] results should be scannable, yet also allow a detailed view
- [ ] results should be clear and consistent
- [ ] results should be readable
- [ ] results should clearly communicate severity

- - -

**Curre

[2016-07-26 18:45] vz3 opened #2 "Create a way to communicate high-priority messages to users"
For instance:
-System is/will be down
-Your app has crashed
-Your org/space/app is approaching it's quota
-Your org/space/app has reached it's quota

[2016-07-26 18:45] vz3 commented on #2
(This is a stand-in issue)

[2016-08-05 02:57] vz3 opened #3 "Create base pattern library"
`# = Template`
`## = Organism`
`### = Molecule`
`- = Atom`

Additionally I've marked templates with (tier-)`(1)` and organisms with `(2)` and bulleted items are atoms.
# Universal (1)

- Button
- Helper text
- Pin (non-mvp)

## Typography (2)

- Display
- Feature text
- H1-H6
- Monotype
- Helper txt

## Site-wide header (2)

- Logo

### Navigation (3)

- Menu
- Username display
- Log out

## Site-

[2016-08-11 18:31] vz3 opened #4 "Design activity log"

[2016-08-11 19:49] vz3 opened #5 "Design application settings/pattern (Scale)"

[2016-08-18 15:51] vz3 commented on #5
Everything is mocked up at 6 col width. Will get Sketch up too.
[Sketch file](https://github.com/18F/cg-design/files/425344/uswds.cg.fork.zip)
(Sorry for the zip, GitHub doesn't support Sketch)

# Patterns

![app settings](https://cloud.githubusercontent.com/assets/582918/17780620/0ba150f8-653a-11e6-82f1-0cfae1868c35.png)

# Normal (Default) state

![app settings normal state](https://cloud.github

[2016-08-18 15:52] vz3 commented on #5
@jeremiak

[2016-08-18 15:52] vz3 commented on #5
@thisisdano @juliaelman @msecret for visibility

[2016-08-18 17:02] juliasolorzano commented on #5
@vz3 nice work!

Once the design is 👍  it would be great to talk about how we implement the code base not only into `cg-style` but the pattern library itself. //cc @msecret

[2016-08-18 17:09] thisisdano commented on #5
I've got plenty of ideas on how to work on this, which I'll work on today and post soon — but I gotta say, I wish we hadn't gotten (somewhat inadvertently) hardened into this new refactor style. We're gonna do all this work; build a whole pattern library based on it. It bums me out.

[2016-08-19 17:07] msecret commented on #5
@thisisdano I'm a little unclear what you mean, do you mean the visual style changing or how cg-style's styleguide is changing to using Fractal?

[2016-08-22 22:22] vz3 opened #6 "Design services"

[2016-08-22 22:23] vz3 commented on #6
Sketch: [uswds cg fork.zip](https://github.com/18F/cg-design/files/431242/uswds.cg.fork.zip)

![services](https://cloud.githubusercontent.com/assets/582918/17873758/7779e408-6895-11e6-9062-533dd691bfe3.png)

[2016-08-22 22:25] vz3 commented on #6
Outstanding issues:
- Visual heirarchy is still super flat.
- Validate 508 on the warning red background.
- Consider adding more relevant info to each service. Perhaps usage?
- The actual stopped warning can be polished (Warning with hyperlink next to it feels strange)
- Do we need the unbind/bind glyph?

[2016-08-23 16:41] thisisdano commented on #5
Here are some initial thoughts on the some of the app settings sections. It mostly follows the same patterns as above with a bit more distinguishing color.

Dropdown from each item's `edit` button could include `delete`.

Items expand to accommodate edit options when editable.

Routes attempt a one-line route constructor. I also added a place to preview the constructed route for clarity. I also ad

[2016-08-23 16:50] thisisdano commented on #5
A question about Limits and Quotas, though — does a limit or a quota "reserve" the space within the larger hierarchy? Or can limits and quotas "overlap"? For example:

A space has a quota of 1GB. It has five apps within it. Can each app have a limit of 1GB (overlapping), or must all the application limits _in total_ stay within the 1GB quota, like 5 limits of 200 MB each (reserved)? I can see how

[2016-08-23 17:46] vz3 commented on #5
@thisisdano Can you share your sketch file for this

[2016-08-23 17:50] thisisdano commented on #5
[uswds-cg-fork-dow.zip](https://github.com/18F/cg-design/files/433189/uswds-cg-fork-dow.zip)

[2016-08-24 16:30] thisisdano commented on #5
Here are a few more application settings sketches based on feedback from @vz3
- These now align to a 64px/16px grid. I made one 6c and one 7c.
- Modified the highlight color
- Worked on clarity of slider
- Developed error states
- Worked on clarity of graph, especially remaining space in space/org
- Adjusted color/typography
- Changed edit/delete button type for entries

Also playing around with t

[2016-08-24 16:36] jeremiak commented on #5
These look really cool, and I think the route editing interface is pretty cool!

Is it right to assume that the slider for Disk limits and the "Application limit" text field are supposed to represent the same value? If so, that's cool and something that matches up with the capabilities of the platform ([relevant docs](https://docs.cloud.gov/apps/limits/)).

[2016-08-24 16:49] thisisdano commented on #5
@jeremiak that's correct, about the text field and slider representing the same values

[2016-08-24 16:58] juliasolorzano commented on #3
Should this be in the `In Progress` column?

[2016-08-24 19:18] vz3 commented on #6
![services 2](https://cloud.githubusercontent.com/assets/582918/17944504/04f25ed6-6a0e-11e6-8fdb-f9054642455a.png)

[2016-08-24 19:21] thisisdano commented on #5
We were looking at these a bit in my crit group, and there was definitely some confusion about the distinction between a **limit** (Application limit) and a **quota** (Space quota). Beyond the idea that there should be a consistent way of describing the boundary around a specific kind of usage, they also thought that 'quota' didn't imply a _boundary_, rather it implied a _goal_ (as in "meeting a s

[2016-08-24 19:23] vz3 commented on #5
@thisisdano useful feedback! i'd like to do a microcopy review with @brittag, perhaps this coming sprint or maybe next

[2016-08-24 23:10] msecret commented on #6
@vz3 looking at the data in the API, the state for an instance isn't exactly started/stopped. Heres an idea:

_last_operation.type_: create, update, delete
_last_operation.state_: in progress, succeeded, failed

So you might say if the last create operation is in a failed state, then it's stopped. Or if the create or update operation succeeded, it's in a running state.

So should we take the data

[2016-08-24 23:16] jeremiak commented on #6
It does make sense, but I think "stopped" isn't going to be an accurate reflection of the state of the service. Take a database service. If I think of a DB as "stopped", I think that it still retains the data, I just can't access it. But in this case, the service instance would be deleted and therefore the data would be destroyed and unrecoverable.

[2016-08-25 17:15] thisisdano commented on #5
Here's a new iteration on the settings/usage panel:
- taking a look at 'fusing' consecutive panels. so, in this version all the panels underneath `Application settings` fuse into one long panel.
- I'm showing the "uniqueness" error state in the route builder underneath the preview because this kind of error (as opposed to malformed input) may not be _exactly_ in the `host`, `path`, or `domain` inp

[2016-08-30 03:14] mogul commented on #5
@thisisdano:

It's definitely a reservation.

[2016-08-30 17:22] thisisdano commented on #5
@mogul phew. very good. i'd imagined some real complications otherwise.

[2016-08-31 17:43] thisisdano commented on #3
OK — I'm working through getting my Sketch file in order. Right now there's only one, but maybe we'll split it into multiple files in the future.

@juliaelman I added you to the InVision project. @vz3 you should already be on it. If you sync, you should get the files in `invision/GSA/cg-atomic-bass/assets/source files`

The design work is up for commenting here:
https://gsa.invisionapp.com/share/C

[2016-08-31 23:44] suprenant commented on #3
Following up on the note @juliaelman made last week. I believe this (or a story related to it) should be in the In Progress column. Moving it there now.

Let's check in on how we're moving stories during our mid-sprint review tomorrow (unless folks want to give any thoughts here)

[2016-09-08 16:06] thisisdano opened #7 "Holistic audit of current dashboard"
Our recent work on the dashboard has been very feature focused. But what is the current state of the dashboard — both in broad strokes and in more detail? What remains awkward? What still needs to be done to create or enhance a coherent product vision?

A dashboard audit will look at every major screen and provide feedback on what needs work — whether that's visual refinement, copy, interaction, o

[2016-09-08 17:53] suprenant commented on #7
@thisisdano I made a minor update to make the acceptance criteria clear. Let's get into the habit of doing this for all of our stories!

[2016-09-08 17:55] thisisdano commented on #7
@suprenant sounds good — I didn't have a sense of acceptance criteria when creating the issue — especially wrt deliverables and shareout.

[2016-09-08 17:56] thisisdano commented on #7
IN GENERAL — I think there's no SOP for deliverables/shareout on things like this (and interview feedback — that kind of stuff). And there should be.

[2016-09-08 17:59] suprenant commented on #7
@thisisdano totally fine! Whenever we take on work, we should think two things: to whom is this delivering what value, and how can we share/demonstrate this when we're done?

Given that we're a distributed team with lots of moving pieces, sharing our learnings for the latter is especially crucial.

If we don't know the answers to either item, that's okay, but then let's talk them through so we can

[2016-09-08 20:48] vz3 opened #8 "Create patterns for form validation errors"
As a designer, I can access patterns for common errors.

We want to include:
- Field validation errors/form errors

This was brought up by routes implementation 18f/cg-dashboard#569

Informed by: https://github.com/18F/cg-dashboard/issues/616

Acceptance criteria:
- [ ] Form validation error pattern

[2016-09-08 21:57] vz3 opened #9 "Design control for scale"
As a developer, I'd like to be able to change the scale of an app.

[2016-09-08 21:58] vz3 opened #10 "Design environmental variables view"
As a developer, I want to be able to see the environmental variables associated with an app

[2016-09-08 22:35] suprenant commented on #8
We are starting with these two errors to constrain our scope but may possibly add additional errors as part of this or subsequent issues.

[2016-09-08 23:08] suprenant commented on #7
@thisisdano as discussed, let's timebox this so this is wrapped by COB Tuesday. Does that work?

[2016-09-09 02:42] suprenant commented on #3
Continuing to tidy our redundant issues. Elements from https://github.com/18F/cg-dashboard/issues/532

We will be following Atomic Design for this:
http://bradfrost.com/blog/post/atomic-web-design/

The pattern library should be delivered via PDF+Sketch for implementation by front end devs.

Separate things to do:
- Create issues for separate parts in cg-design

[2016-09-14 16:55] vz3 opened #11 "Implement new color styles for pattern library design"
Typography, grid, palette

This is essential for pattern library

Need to outline documentation about typography, palette, etc.
Consider what lightest version of this would be
 - Changing base styles/add to pattern library
 - Build out a few patterns

Marco:
 - Wants to take base styles and typographies and get them in sync with our prototypes
 - Would also like to build some patterns for base sty

[2016-09-14 18:45] thisisdano commented on #8
I'm gonna jump on this now.

[2016-09-14 23:24] thisisdano commented on #7
## Goal

To identify weakness and ways forward with the current cloud.gov dashboard so the design team has a cleareyed view of its present challenges and a framework for success as cloud.gov attempts to scale to a broader base of paying customers.

## Preamble

I completed this somewhat gloomy report and analysis prior to today's conversations about our upcoming hard stop. What I detail here are t

[2016-09-15 16:49] vz3 commented on #6
@msecret Let me know if there's anything design owes you on this?

[2016-09-15 20:04] suprenant commented on #7
Looks good! Will look forward to seeing what we can pull from this to help us this cycle

[2016-09-16 16:05] suprenant commented on #7
@thisisdano as we process this as a team and decide how we want to act on it, please remember that we'll want to demo this in some capacity on Wednesday's sprint review – possibly a one-slide summary of the high-level recommendations with a link to the document?

cc @vz3

[2016-09-16 16:32] suprenant commented on #5
Contingent upon some minor design tweaks, @vz3 accepts this. @msecret can you please validate that this matches requirements?

[2016-09-16 16:36] suprenant commented on #6
Per @vz3, highlighting that there is a dependency here on 18f/cg-design#8

[2016-09-16 16:40] suprenant commented on #4
This is done:
https://gsa.invisionapp.com/d/main#/projects/8336880

[2016-09-16 16:40] #4 closed

[2016-09-16 19:09] thisisdano commented on #8
Here's a sketch of a validation error:
Invision link: https://gsa.invisionapp.com/share/9T8GMJ8B8#/189361542_Validation-Errors

![image](https://cloud.githubusercontent.com/assets/11464021/18598189/5f497f22-7c06-11e6-90e7-06b6b9c83d1f.png)

[2016-09-16 19:12] thisisdano commented on #8
And here's a more schematic sketch of a system error.
Invision link: https://gsa.invisionapp.com/share/9T8GMJ8B8#/189361537_System-Errors

![image](https://cloud.githubusercontent.com/assets/11464021/18598258/bb692b68-7c06-11e6-9c4f-536d5c961553.png)

[2016-09-16 19:18] suprenant commented on #7
Talked to @vz3 – thinking we'll include this in the WIP section for now for the demo

[2016-09-16 19:26] thisisdano commented on #7
@suprenant Cool — I've been thinking a lot more about this, and I would like to connect it to the IP sprint, and to some explicit groundwork for the next PI. And the more I've thought about it, I think it actually connects in a meaningful way to our theme name. (Which I now consider it important to change, as an expression of explicit product/design principles.) I have more thoughts about this, tk

[2016-09-16 20:04] suprenant commented on #7
@thisisdano sounds good. Let's give the team a little time to chew on what's here, and we can work together to outline and prioritize our next steps. I'll defer to @vz3, but the IP sprint does seem like a good time for this

[2016-09-20 19:59] vz3 commented on #8
The viewport thing feels weird in the case of for instance, an bind failure. I'd like to see the error in that use case closer to the button that the user just clicked. I'll pull your comp @thisisdano to do a quick mock.

[2016-09-22 17:14] thisisdano commented on #6
Here's a pass based on the Routes styles from https://github.com/18F/cg-dashboard/issues/582
Invision: https://gsa.invisionapp.com/share/9T8GMJ8B8#/190897181_App-Services-6c--default

<img width="961" alt="services sketch" src="https://cloud.githubusercontent.com/assets/11464021/18758493/2cf44556-80ad-11e6-9b8f-b1358d96d0b5.png">

There's a radio input to display cost or service version

[2016-09-22 17:15] suprenant commented on #6
^ @mogul per stand-up

[2016-09-22 17:22] mogul commented on #6
Looks nice... Do I leave comments here or in Invision? (Feels a bit weird to have the radio button swap out the entire icon and name, rather than just the version, to show the cost.)

[2016-09-22 17:27] thisisdano commented on #6
@mogul we don't have a determined comment flow BUT here is probably best as a canonical reference

The invision will always be changing.

Lemme see what I can do to make `version`/`cost` switching better. If we DID do a full swap (as pictured above) perhaps `kind` is a better category?

[2016-09-22 17:32] mogul commented on #6
Definitely. 👍

Some things to keep in mind:
- We want to make it easy for people to learn all the nitty-gritty details about a service: Docs on how to use it, plan differences, whether it's experimental or supported, etc. We can add those details to docs.cloud.gov, but people should be able to find their way there easily from a given service instance in the UI.
- Services  can have their own manag

[2016-09-22 17:42] thisisdano commented on #6
Yes, thanks. I've got those augmentations in mind — while I haven't sketched anything yet, I'm definitely thinking about it.

Do we have any our own example of the kind of service details content we'd be providing? (If not, I'll just continue to use Heroku as the model)

[2016-09-22 17:57] vz3 commented on #6
I can go into more detail but quick thoughts on this are that we should be able to show version and cost at the same time. I'd also like to see the visual hierarchy changed to emphasize stopped states and significantly deemphasize running states.

Existing hierarchy
- Running or stopped state
- Icon
- App Name
- Unbind
- Version
- Service instance name

Proposed hierarchy
- Stopped state if stoppe

[2016-09-22 18:48] thisisdano commented on #6
Updated.

<img width="488" alt="screen shot 2016-09-22 at 11 47 11 am" src="https://cloud.githubusercontent.com/assets/11464021/18761573/56d15a46-80ba-11e6-84a1-1bc0814369d3.png">

[2016-09-22 18:54] vz3 commented on #5
@thisisdano I'm going to request a small tweak here because I still think the slider bar still gets lost within its bounds. Can you pull out the blue and green to the side of the handles?

[2016-09-22 22:50] msecret commented on #6
So a problem with the design ^  we simply don't have all that information right now. Here's the info we have for a typical Postgres instance:
- name: name given to the instance by user upon creation
- description: our own description, pretty bland, "Shared infrastructure for Postgres DB"
- service name: "rds"
- service description: "RDS Database Broker"
- service plan name: our own name, also not

[2016-09-22 23:01] mogul commented on #6
It's very easy to edit those fields (service names, plan names, descriptions) to make them more informative, and it's long past due! Basically they're just parameters on the broker.

[2016-09-23 18:58] msecret commented on #6
@thisisdano it sounds like we should just edit the fields to what we want. We can edit multiple fields. Something to keep on mind: we're not pulling in the "service" data on the app page, so we should try and keep the data in the instance and the service plan.

[2016-09-23 19:08] thisisdano commented on #6
@msecret Can you clarify what you mean by this:

Does this mean that we should make sure to show the complete data somewhere? Like, for instance, in the marketplace?

[2016-09-23 20:01] msecret commented on #6
It just means when we manually edit the fields to include the more accurate data we want, I'd prefer if put it in fields besides the "service name" and "service description" because those are harder to access.

[2016-09-23 20:11] mogul commented on #6
Note that there is additional metadata that can be returned along with the services listed via the /catalog API:
https://docs.cloudfoundry.org/services/api.html#catalog-mgmt
https://docs.cloudfoundry.org/services/catalog-metadata.html

[2016-09-23 21:36] msecret commented on #6
Waiting on https://github.com/18F/cg-style/pull/155, https://github.com/18F/cg-style/pull/154

[2016-09-23 22:53] suprenant commented on #5
Moving this back to the backlog as we discussed holding on scale for this sprint

@vz3 @thisisdano

[2016-09-23 22:56] suprenant commented on #6
Moving this to Awaiting Acceptance as we discussed the design being done with @vz3 approving during sprint planning today. We can track the actual work and additional research in our other issues related to this work.

[2016-09-23 23:01] #9 closed

[2016-09-23 23:09] suprenant opened #12 "Develop a pattern library"

[2016-09-23 23:11] suprenant opened #13 "Develop a pattern library"
Goal: better enable other streams of Cloud.gov to build better interfaces using the elements we’re using for the dashboard. Help ensure our work is reusable

[2016-09-23 23:14] #12 closed

[2016-09-23 23:16] suprenant commented on #11
A conversation for this is scheduled for Monday.

[2016-09-26 16:43] suprenant opened #14 "Create pattern to designate when request is waiting on the server"
@suprenant commented on [Mon Sep 26 2016](https://github.com/18F/cg-dashboard/issues/621)

What we're after:
- General design pattern for when actions are taken (like bind app, or add route) and we're waiting for the request to the server to finish.
- Should there be a spinner? No spinner?
- We have loading pattern for fetched/initial load
- Related to designs here: https://github.com/18F/cg-desig

[2016-09-27 14:22] thisisdano commented on #11
This is in progress.
See colors, type scale, and basic patterns at the project Invision: https://gsa.invisionapp.com/share/9T8GMJ8B8

We're maintaining the current Sketch file in the `cg-deign` repo: https://github.com/18F/cg-design/raw/master/Sketch/cg-atomic-bass.sketch

[2016-09-27 14:29] thisisdano commented on #14
This came up here, too: https://github.com/18F/cg-dashboard/issues/601

![service states 2x](https://cloud.githubusercontent.com/assets/11464021/18878027/02768a02-8484-11e6-9634-484dbe3e7954.png)

[2016-09-27 14:30] thisisdano commented on #14
@msecret @vz3 ^^^

[2016-09-27 16:39] thisisdano commented on #7
This is a good place to start when thinking about design process/deliverables: https://github.com/18F/Design-Wiki/wiki

[2016-09-27 20:37] msecret commented on #14
What if we don't know what the request is? Like if we don't know if it's "Starting", "Deleting", etc? We'll just show the loader? Trying to think of all possible scenarios now.

[2016-09-27 21:23] suprenant commented on #3
@adborden adding you here as I think we'll want you to work with Marco on the pattern work on the dev side.  I don't think this issue is shovel-ready yet, but FYI

cc @msecret

[2016-09-27 22:14] suprenant commented on #11
Waiting on @thisisdano here to wrap up designs

[2016-09-27 22:15] suprenant commented on #14
Looking for @vz3 feedback here

[2016-09-28 14:38] vz3 commented on #11
This has been flagged as a blocker by @suprenant @msecret

[2016-09-28 17:20] msecret commented on #11
Here's our current color palette. We should attempt to replace the primary/secondary values as they make sense with the new colors. We should also standardize what grays we're officially using.
From there I want to set the contextual colors, `$color-error`, `$color-warning`, and hopefully reuse the primary and secondarys for those so, `$color-warning = $color-secondary;`.

[code]

[2016-09-28 17:40] thisisdano commented on #11
[code]

[2016-09-30 16:58] thisisdano commented on #11
updating `$color-background-light` to `#F5F5F3`

[2016-10-03 17:36] suprenant commented on #11
@msecret do you want a separate issue to track the integration work here that you're picking up, or should we just tweak the card's title and use this one?

[2016-10-03 18:45] suprenant commented on #13
Closing up this epic – replacing with a label

[2016-10-03 18:45] #13 closed

[2016-10-03 19:27] msecret commented on #11
@suprenant I think we can just use this one

[2016-10-03 21:25] brittag opened #15 "Write LICENSE and CONTRIBUTING files for cg-design repository"
In order for us to clearly communicate the license status of our work and of other people's work that we're using (and to comply with their licenses), we should have LICENSE and CONTRIBUTING files in this repository.

We can use [18F's standard LICENSE and CONTRIBUTING files](https://github.com/18F/open-source-policy/blob/master/practice.md#how-to-license-18f-repos) as a basis, and we should inclu

[2016-10-03 21:38] thisisdano commented on #15
The `18Franklin` font files linked are a fork of https://github.com/impallari/Libre-Franklin and would pick up the same license (SIL Open Font License v1.1 )

[2016-10-03 21:47] suprenant commented on #3
Redundant with: https://github.com/18F/cg-design/issues/11. Closing this up

[2016-10-03 21:47] #3 closed

[2016-10-05 23:46] msecret commented on #11
Acceptance criteria:
- [ ] The color variables should be changed to new values.

[2016-10-05 23:59] msecret commented on #11
Now that this is moving to design, I wanted to separate this issue out into different issues for colors, typography and grid. I'll keep this one for colors. I wanted to do this because each of these 3 things has a different set of time to complete and risks.

[2016-10-06 16:27] suprenant commented on #11
Cool good call @msecret

[2016-10-06 17:18] thisisdano opened #17 "Create and apply new theme name for Liberator"
We should have a theme name that better reflects our priorities, goals, and design principles for the sprint. I have an idea.

Previous working doc:
https://docs.google.com/document/d/1IRVdiRyzZJrxxX1ETi4aYmHpQnDmzQNGZ6t76L3Re9Q/edit

Acceptance criteria:
- [x] Schedule time to meet and discuss with the team
- [x] Determine outcome
- [x]  Share with program-level team

Replace Liberator with new n

[2016-10-06 17:22] thisisdano opened #18 "Develop design principles"
Why do we make the design decisions we make? Design principles help build alignment and clarify priorities and reasoning by tying decision-making guidelines to strategic goals. I'd like to make a couple of these.

This will probably include a little questionnaire for the cg team to complete async.

Related items we discussed before:
https://docs.google.com/document/d/1SHziUTLs14y769Jt01jKC-OmTlfrR

[2016-10-06 21:10] #7 closed

[2016-10-06 21:11] #6 closed

[2016-10-17 22:55] adborden commented on #11
Spot checked a few colors, looks good.

[2016-10-17 22:55] #11 closed

[2016-10-19 21:59] suprenant commented on #17
Picking this up. Scheduled meeting for next week!

[2016-10-20 19:30] suprenant commented on #18
Will set up meeting to discuss this along with https://github.com/18F/cg-product/issues/352

[2016-10-20 21:23] suprenant commented on #18
Scheduled meeting for next Thursday. Closing this up.

[2016-10-20 21:24] #18 closed

[2016-10-26 22:47] suprenant commented on #17
We met on this today and made some good progress. Reconvening tomorrow to wrap this up

[2016-10-27 16:39] thisisdano opened #19 "Remove rounded corners & tweaks to 18Franklin typeface"
In order to better communicate the seriousness and solidity of the cloud.gov platform and messaging, the 18Franklin font should lose its soft, round corners.
- [x] remove rounded corners from the 18Franklin masters
- [x] replace font files in `cg-style`

[2016-10-27 16:46] thisisdano commented on #19
Here's a first draft of this.

---

![font-rounded](https://cloud.githubusercontent.com/assets/11464021/19776745/35b69ef8-9c2a-11e6-8315-ef44b65ffb1f.png)

[2016-10-27 16:49] thisisdano commented on #19
Got a little work to do on the shapes and the kerning pairs.

[2016-10-28 18:36] suprenant commented on #17
Made some progress here. Dropped our action items of where to change the name into this issue. @adborden as soon as you and I wrap up our items, we can consider this done.

[2016-10-28 18:48] suprenant commented on #17
OK, this is done after we update the documentation. I took a pass at imagery and tagline, but we can update this further if we want.

[2016-10-28 23:03] thisisdano commented on #19
Set some texts. Pretty close — maybe a little kerning and shaping here and there, but otherwise good.

@rtwell Maybe you can take a look at this? This is my fork of the open-source Libre Franklin (https://github.com/impallari/Libre-Franklin). Can't seem to get kerning to display properly in Sketch, though. Works OK in Glyphs, but not in Sketch.

This fork
- modifies some shapes
- loosens overall t

[2016-10-31 16:45] thisisdano commented on #19
Widened the space character and tightened the sidebearings by 4 increments.

---

![american-texts 2x](https://cloud.githubusercontent.com/assets/11464021/19862730/c90cc1f6-9f4e-11e6-9565-effc15f4fbd7.png)

[2016-11-01 03:39] thisisdano commented on #19
![18franklin 2x](https://cloud.githubusercontent.com/assets/11464021/19878781/0efe381a-9faa-11e6-8d65-6d0bfaa48e7a.png)

[2016-11-01 13:04] thisisdano commented on #19
Kerning doesn't seem to work well in Sketch.

---

<img width="887" alt="screen shot 2016-11-01 at 6 02 08 am" src="https://cloud.githubusercontent.com/assets/11464021/19890584/eec20ff0-9ff8-11e6-935a-51cc91cb316c.png">

[2016-11-01 15:36] suprenant commented on #17
Ah, also noticed that we need to change this in Float and Tock. I changed Float, pinging #tock.

[2016-11-01 19:56] vz3 opened #20 "Address accessibility and usability issues"
Please provide feedback from recent cg-style/docs changes here.

[2016-11-01 20:22] brittag commented on #20
- If I look at the homepage on a typical 13" laptop instead of the big workstation screen, it feels like it needs a lot of scrolling to get information about cloud.gov.
- Not sure about the blue increased-size text on pages like https://cloud.gov/docs/getting-started/your-first-deploy/ - blue usually reads as "link" to me.
- Update post pages have a style problem that makes the nav unclickable (su

[2016-11-01 21:50] thisisdano commented on #20
Moving to something like this for the doc deks:

![screen shot 2016-11-01 at 2 49 07 pm](https://cloud.githubusercontent.com/assets/11464021/19908909/800d58e0-a042-11e6-9b0e-1b3ddbde803d.png)

[2016-11-01 21:58] brittag commented on #20
Cool! More notes:
- In the docs right now, the first paragraph isn't always meaningful to highlight - for example, https://cloud.gov/overview/pricing/rates/ is a bit odd.
- At the bottom of docs pages, the "Built with ❤️  by the cloud.gov team." has a little extra space after the ❤️ .
- Noticing again that the content at https://cloud.gov/updates/ is still sort of oddly wide - filed a long time ag

[2016-11-02 23:28] mogul commented on #20
- The little “chainlink” permalink icon at the end of in-content headers in https://cloud.gov/docs is invisible with the new styling until you actually click on it. [Example](https://cloud.gov/docs/ops/contingency-plan/#how-this-document-works)

[2016-11-03 17:04] thisisdano opened #21 "Adjust letterspacing and `l` character in 18Franklin"
In order to make 18Franklin more readable, I'll be widening the letterspacing for its lighter weights and adjusting the bowl att he base of the lowercase `l` character

- [x] Create new font files
- [x] update the face in cg-style
- [x] Update the face in Sketch
- [x] Update the face in cg-design

[2016-11-03 17:30] thisisdano commented on #20
todo
- [x] blue dek > gray
- [x] spacing in heart glyph
- [x] fix updates page styles
- [x] breaking email address in footer
- [x] update 18Franklin
- [x] show chainlink permalink
- [x] spacing bw h[0-6] and and [uo]l
- [x] font size/use in tables
- [x] accessibility: dek color (actually OK; [link](http://webaim.org/resources/contrastchecker/?fcolor=8e8e8e&bcolor=ffffff) — this is large text)
- [x

[2016-11-03 17:34] suprenant commented on #20
Add more space between the subhead ("A few things you can do here") and bulleted lists here:

![screen shot 2016-11-03 at 12 15 05 pm](https://cloud.githubusercontent.com/assets/1452369/19977527/e2ab8280-a1c1-11e6-8b31-097b2447edce.png)

[2016-11-03 19:51] msecret commented on #20
### Accessibility issues

Color contrast issues on cg-dashboard
![image](https://cloud.githubusercontent.com/assets/1701077/19982647/1abdb9c0-a1c4-11e6-8667-b93b35bf3fb7.png)

![image](https://cloud.githubusercontent.com/assets/1701077/19982674/3723ee18-a1c4-11e6-964b-ddd6c51f1604.png)

Color contrast issues on cg-site
![screen shot 2016-11-01 at 12 46 54 pm](https://cloud.githubusercontent.com/as

[2016-11-07 14:36] thisisdano commented on #21
This is done. 18Franklin issues now at https://github.com/18F/18franklin/issues

[2016-11-07 14:36] #21 closed

[2016-11-07 15:56] #15 closed

[2016-11-08 15:09] #19 closed

[2016-11-08 17:08] thisisdano commented on #20
New design for Updates page and Individual updates:

---

![screen shot 2016-11-08 at 9 04 08 am](https://cloud.githubusercontent.com/assets/11464021/20108854/73eea35c-a592-11e6-89dd-60799fe6439e.png)

---

![screen shot 2016-11-08 at 9 04 24 am](https://cloud.githubusercontent.com/assets/11464021/20108860/7904b566-a592-11e6-9cbb-d885b2429011.png)

---

The single view would be mostly for linking

[2016-11-08 17:48] thisisdano commented on #20
I'm skipping the accessibility issue for gray buttons as I don't think that gray button style will continue much longer like that. Gray buttons shd only be for inactive items.

[2016-11-08 17:50] thisisdano commented on #20
Addressed with the following PRs:

https://github.com/18F/cg-style/pull/179
https://github.com/18F/cg-site/pull/535

@msecret

[2016-11-08 18:28] brittag commented on #20
Thanks @thisisdano! I like the overall style; it fits with the documentation style. I'm hesitant on making the first paragraph larger on the single-post view, basically for "don't make me think" reasons - it's just a typical post format where each paragraph has content, rather than the first paragraph being special, so I don't think it "fits" the content to highlight the first paragraph in a speci

[2016-11-08 18:34] thisisdano commented on #20
I see the point about first grafs not necessarily being special — and I _do_ see the case in the updates to revert to a standard p.

Counterproposal: maybe the first graf _should_ be a bit special? Or function well if it _is_ special? There aren't that many updates, and only a couple instances where the dek is more odd than it should be.

[2016-11-08 20:39] #17 closed

[2016-11-09 00:59] brittag commented on #20
Hm, one bit of context I have in mind is that our updates need to be simple and short posts - we have to put anything at the level of complexity of a full blog post on the 18F blog. We could specifically write deks/subheds for our posts, newspaper-style, but I'm inclined to instead keep our updates really plain and simple. :)

I'd defer to Skyporter squad folks on styling for this though!

[2016-11-09 14:44] thisisdano commented on #20
I don't think simple content and good content design are mutually exclusive. Sounds like it's worth thinking about what an "Update" is, since the updates page has a broad grab-bag of content now.

[2016-11-09 15:20] jameshupp commented on #20
So at least recently, most of our posts have had a first paragraph that fits neatly into this different style. And I think it is a useful content tool: your first paragraph should summarize everything to follow in as simple a way as possible. It's the other side of don't make me think: don't make me read. We're not spinning yarns here; if we can give someone the tl;dr in the first paragraph, we sh

[2016-11-09 15:36] thisisdano commented on #20
Pretty much agreed on all points.

I'd imagine that a good template for an update is:

[title]
[Short descriptive graf about the update]
[Longer contextualization of the update]
[Bullet point summary of update]
[Short closing graf]

[2016-11-15 18:54] #5 closed

[2016-11-15 18:57] #8 closed

[2016-11-17 21:34] suprenant commented on #14
This has been approved!

[2016-11-17 21:35] #14 closed

[2016-11-21 18:38] berndverst commented on #20
I want to stress that release notes are a bit different from one-off update posts. However we intend to post release notes at `/updates`.

I would like to caution against using a blog-like style / layout for what are technical release notes aimed at developers.

You will find that release notes usually look simple and plain when comparing with other developer focussed products (e.g. Heroku, Google

[2016-11-21 18:42] thisisdano commented on #20
I'd only say let's just get to posting them and then we can adapt to the proper presentation. Dunno if we want to have a separate style for release notes vs. other updates (if there are any) — but we can leave that option open.

[2016-11-22 19:17] suprenant commented on #10
This may be an issue the Australian DTO/DTA is picking up. Let's monitor.

[2016-11-25 22:51] thisisdano opened #24 "Refine header/breadcrumb layout and interaction"
The header and breadcrumb nav work together to communicate the user's location and allow navigation to other views. A successful header/breadcrumb:

- [ ] Clearly communicates the specific view
- [ ] Clearly communicates the relationship of the view to the hierarchy
- [ ] Allows navigation within the hierarchy
- [ ] Clarifies the model
- [ ] Uses space well
- [ ] Feels lightweight and efficient

W

[2016-11-28 17:47] thisisdano commented on #24
More to come, but here's the Invision: https://gsa.invisionapp.com/share/838UY596S#/208123072_Overview--closed

[2016-11-28 19:21] thisisdano commented on #24
@vz3 @line47 check it

[2016-11-28 20:40] brittag opened #25 "Clicking search button doesn't give focus to search box"
In order for cloud.gov site visitors to quickly search our site, clicking the search button should immediately give focus to the search box. From observation and personal experience, I believe this is what users expect when they click a search button that reveals a search box.

![screen shot 2016-11-28 at 12 37 07 pm](https://cloud.githubusercontent.com/assets/391313/20685036/7fc02658-b567-11e6-99

[2016-11-28 20:45] thisisdano commented on #25
👍
Glad to finally see this.
And If we _really_ wanted to do it proper, we could also dismiss it with `esc` and trigger it with `/` 😀

[2016-11-28 21:04] thisisdano commented on #24
This relates to https://github.com/18F/cg-dashboard/issues/648

[2016-11-28 21:10] brittag opened #26 "Figure out the right placeholder text for search bar"
In order for cloud.gov readers to have a reasonable expectation about what they're searching, the cloud.gov search bar placeholder text should say something that makes sense to them.

Right now it says "Search documentation":

![screen shot 2016-11-28 at 1 04 53 pm](https://cloud.githubusercontent.com/assets/391313/20685913/459cec46-b56b-11e6-8c98-f601d22ccfd4.png)

The current search covers /docs

[2016-11-28 21:14] line47 opened #27 "Add route URL to confirmation message when unbinding or deleting"
What we're after:

### Route Unbinding
When clicking unbind on a bound route the route URL is replaced with "Unbind this route from this app?" thus hiding the route URL.

Replace the text "this route" with the URL of the route.
For example, "Unbind `great.apps.cloud.gov` route from this app?"

### Mockup
<img width="928" alt="unbinding" src="https://cloud.githubusercontent.com/assets/1449852/20685

[2016-11-28 21:15] brittag commented on #26
cc @jameshupp as a content design thing

[2016-11-28 22:25] vz3 commented on #24
I think this looks great. I'll have some feedback on some of the visual design details, but I think the interactions/navigation is in a good place (i.e. ready for testing 18f/cg-dashboard#716).

[2016-11-28 22:44] line47 opened #28 "Add route URL to confirmation message when deleting"
When clicking delete on an available route the route URL is replaced with "Delete this route from this space?" thus hiding the route URL.

Replace the text "this route" with the URL of the route.
For example, "Delete `great.apps.cloud.gov` route from this space?"

### Mockup
<img width="917" alt="deleting" src="https://cloud.githubusercontent.com/assets/1449852/20689130/c8a9e8a2-b591-11e6-9bdc-d49

[2016-12-01 21:34] line47 commented on #28
Combined this into https://github.com/18F/cg-design/issues/27

[2016-12-01 21:34] #28 closed

[2016-12-02 15:52] #20 closed

[2016-12-06 19:02] msecret commented on #25
This would be a good thing for @line47 to look at.

[2016-12-07 15:16] line47 commented on #27
I'm trying to get the clickable URL in the message but `{displayURL} isn't working.

### code
[code]
### output
<img width="424" alt="screen shot 2016-12-07 at 10 13 15 am" src="https://cloud.githubusercontent.com/assets/1449852/20973275/08a9bb8c-bc66-11e6-845b-594457b0e633.png">

@msecret or @adborden can you take a look?

[2016-12-07 19:00] msecret commented on #27
So this ``Unbind ${displayUrl} route from this app?`` is using ES6 string interpolation, not React, so it only seems `displayUrl` has an object rather then a React component. Maybe trye

[code]

[2016-12-08 00:13] line47 commented on #27
Thanks @msecret, that worked out great!

[2016-12-21 22:51] #24 closed

[2016-12-22 19:42] brittag commented on #25
Hmm reopening since there may be a bit of lingering work here: when I click the search button on the homepage or updates pages, focus goes to the search box, but that doesn't seem to happen on "overview" or "documentation" pages.

[2016-12-23 17:04] line47 commented on #25
The overview and documentation sections have their own footer files which are not including index.js which has the JS for the search focusing. I can update the Overview and Documentation footers to include this JS.

[2016-12-23 17:09] line47 commented on #25
Also, is there a reason the footer changes from the homepage to the docs to the updates page? Can cg-site use the same footer? @brittag

[2016-12-23 17:33] brittag commented on #25
Interesting - it sounds good to me for all of these to have the same footer! I don't know of any reason to make it different.

[2016-12-23 17:39] line47 commented on #25
Great! We can certainly do that. Should we use the footer seen here? https://cloud.gov/ or the footer as seen here? https://cloud.gov/docs/help/

[2016-12-23 19:06] brittag commented on #25
Let's use the https://cloud.gov/ footer! It looks nicer, and it's more informative.

[2016-12-27 18:13] adelevie commented on #10
Would also be cool to do the same with user-provided services, which are used similarly to environment variables for zero-downtime-deploys.

[2016-12-28 00:39] brittag commented on #25
I found one page that now has a weird footer: https://cloud.gov/docs/services/ - I suspect this is because https://github.com/18F/cg-site/blob/master/layouts/docs/services.html doesn't match the other pages.

[2016-12-28 20:26] brittag commented on #25
The pages under "overview" also have this weird footer, such as https://cloud.gov/overview/overview/what-is-cloudgov/

[2016-12-29 15:40] line47 commented on #25
Thanks for catching this @brittag, I'll have a look and get those pages updated as well.

[2016-12-29 15:50] line47 commented on #25
Looks like this was already fixed in https://github.com/18F/cg-site/pull/673 Awesome!

[2016-12-29 18:31] brittag commented on #25
Yay! This looks complete to me, so I'll accept/close this. Thanks!

[2016-12-29 18:31] #25 closed

[2017-01-06 01:32] brittag commented on #26
I changed this to just say "search", so I'm ok with this now.

[2017-01-06 01:32] #26 closed

[2017-01-17 18:49] adborden commented on #27
LGTM

[2017-01-17 18:49] #27 closed

[2017-02-23 18:48] msecret commented on #10
Duplicate https://favro.com/card/1e11108a2da81e3bd7153a7a/18F-3280

[2017-02-28 21:41] nikzei commented on #2
Potentially a good feature for PI10

[2017-02-28 21:43] nikzei commented on #2
Sub story, potentially: https://favro.com/card/1e11108a2da81e3bd7153a7a/18F-2490